---
import Layout from '../layouts/Layout.astro';
---

<Layout title="this home page">
  <main>
    <h1>Welcome to My page</h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <p>Read more <a href="/ballon/">about</a> Astro!</p>
  </main>
</Layout>

<style>



</style>
