---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card.astro';
---

<Layout>
  <h1>My work</h1>
  <h5>
    See my most recent projects below to get an idea of my past experience.
  </h5>

  <Card />
</Layout>

<style>
  h1 {
    font-family: 'Jost', sans-serif;
  }
  h5 {
    color: var(--gray-300);
  }
</style>
