---
const cardData1 = [
  { name: 'Jimmy', image: '/assets/stock-1.jpg' },
  { name: 'Jenny', image: '/assets/stock-2.jpg' }
];
const cardData2 = [
  { name: 'Paul', image: '/assets/stock-3.jpg' },
  { name: 'Mary', image: '/assets/stock-4.jpg' }
];
---

<div class="cardBg">
  <div class="cardGround1">
    {
      cardData1.map((value) => (
        <>
          <div class="card">
            <p>{value.name} </p>
            <img src={value.image} alt="" />
          </div>
        </>
      ))
    }
  </div>
  <div class="cardGround2">
    {
      cardData2.map((value) => (
        <>
          <div class="card">
            <p>{value.name} </p>
            <img src={value.image} alt="" />
          </div>
        </>
      ))
    }
  </div>
</div>

<style lang="scss">
  .cardBg {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 1400px;
  }

  .cardGround1 {
    margin-top: 100px;
  }

  .card {
    position: relative;
    margin: 60px 30px;
    p {
      font-size: 20px;
      font-weight: bolder;
      position: absolute;
      background-color: white;
      margin: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 15px;
    }
    img {
      height: 350px;
      width: auto;
      border-radius: 20px;
    }
  }
</style>
